<h2>Your collection's Pokemons </h2>
<% if @pokes.count == 0 %>
	<h2>Is Empty !</h2>
	<%= link_to 'Add it', user_pokemons_path %>
<% else %>
	<ul style='list-style: none;'>
		<% @pokes.each do |p| %>
		<li style='display:inline'><%= image_tag(Pokemon.find_by(pkdx_id: p).avatar, size: '120x120') %></li>
		<% end %>
	</ul>
	<%= link_to 'Enroll for Tournaments', tournaments_path, class: 'btn btn-primary' %>

<% end %>
