/*
#tab_name  {
	text-align: center;
	width: 100%;
	background: blue;
}

li {
	 list-style: none;
	 padding: 10px;
}
*/
/*
body div .random_style  {
	background-color: rgba(0, 0, 255, 0.5);
	c
}

	normal = (134,190,203, 0.5)
	Fighting = (254,129,129, 0.5)
	flying  (99,172,229)
	poison (111,203,159, 0.5)
	ground = (174,90,65, 0.5)
	rock  	(195,203,113, 0.5)
	bug  	(164,124,72, 0.5)
	ghost   	(212,216,212, 0.5)
	steel (170,170,170, 0.5)
	fire (243,119,53, 0.5)
	water (27,133,184, 0.5)
	grass (0,255,131, 0.5)
	electric (234,214,28, 0.5)
	ice  	(223,227,238, 0.5)
	dragon  	(0,210,127, 0.5)
	dark (51,51,51, 0.5)
	fairy (239,187,255, 0.5)
	unknow (153,153,153, 0.5)
	shadow 	(153,153,153, 0.5)
	psychic  	(190,41,236, 0.5)*/