/*
#tab_name  {
	text-align: center;
	width: 100%;
	background: blue;
}

li {
	 list-style: none;
	 padding: 10px;
}
*/



li.evolution {
	display: inline-block;
	margin: 5px; 
}
.badge.Normal { background-color: rgba(134,134,134, 0.5); } 
.badge.Fighting { background-color: rgba(254,129,129, 1); }
.badge.Flying { background-color: rgba(99,172,229, 0.8); }
.badge.Poison { background-color: rgba(102, 51, 153, 0.5); } 
.badge.Ground { background-color: rgba(174,90,65, 0.9); } 
.badge.Rock { background-color: rgba(195,203,113, 1); } 
.badge.Bug { background-color: rgba(164,124,72, 0.5); } 
.badge.Ghost { background-color: rgba(190,190,190, 1); } 
.badge.Steel { background-color: rgba(170,170,170, 0.5); } 
.badge.Fire { background-color: rgba(250,119,53, 1); } 
.badge.Water { background-color: rgba(27,133,184, 0.5); } 
.badge.Grass { background-color: rgba(0,210,127, 0.5); } 
.badge.Electric { background-color: rgba(234,214,28, 0.5); } 
.badge.Ice { background-color: rgba(180, 216, 180, 1); } 
.badge.Dragon { background-color: rgba(250, 0, 0, 0.5); } 
.badge.Dark { background-color: rgba(51,51,51, 0.5); } 
.badge.Fairy { background-color: rgba(239,187,255, 1); } 
.badge.Unknown { background-color: rgba(153,153,153, 0.5); } 
.badge.Shadow { background-color: rgba(153,153,153, 0.5); } 
.badge.Psychic { background-color: rgba(190,41,236, 0.5); }
