
<p>
	<h2>Les <%= @nb_types %> types de Pokémons :</h2>
</p>

<table class="table table-bordered">
<% @poketypes.each do |t| %>
	<tr>
		<td data-toggle="tooltip" data-placement="top" title="<%= t['name']%>" > <%= link_to t['name'], poke_type_path(t['id']) %> 
		</td>
	</tr>
<% end %>
</table>