<% type = ["ineffective", "no_effect", "resistance", "super_effective", "weakness"] %>
<table class="table table-striped">
  <tr>
    <% type.each do |t| %>
        <td> <h3> <%= t.humanize %> </h3>
          <span class="badge"> <%= @poketype[t].count %> </span>
        </td>
    <% end %>
  </tr>

  <tr>
    <% type.each do |t| %>
      <td>
        <% @poketype[t].each do |tn| %>
          <ul>
              <h4>
                  <li style="list-style: none">  <%= tn['name'] %> </li>
              </h4>
          </ul>
        <% end %>
      </td>
    <% end %>
  </tr>

</table>
