
<div class="col-xs-6 col-md-3" style="height: 300px;">
  <p><%= link_to pokemon.name, pokemon_path(pokemon) %> </p>
  <%= image_tag pokemon.avatar %>
  <p>
    <a href="#" class="btn btn-primary" role="button">Acheter</a> 
    <a href="#" class="btn btn-default" role="button">Vendre</a>
  </p>
</div>