<div class="col-xs-12 col-md-12">
  <p><%= link_to pokemon.name, pokemon_path(pokemon) %> </p>
  <p>
    <a href="#" class="btn btn-primary" role="button">Acheter</a> 
    <a href="#" class="btn btn-default" role="button">Vendre</a>
  </p>
</div>