<div class="row">
  <div class="pokemon-list">
    <% @pokemons.each do |pokemon| %>
      <div  id="pokemon-<%= pokemon.pkdx_id %>"> 
        <%= render partial: 'pokemon', object: pokemon, locals: {poke: false} %>
      </div>
    <% end %>
   </div>
  <%= will_paginate @pokemons %>
</div>

<script type="text/javascript">
  function setUpEndlessScrolling(){
    if ($('.pagination').length > 0){
      $(window).scroll(function(){
        var url = $('.pagination a.next_page').attr('href');
        if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 50){
          $('.pagination').text("Chargement en cours...");
          $.getScript(url);
        }
      });
      $(window).scroll();
    }
  }

  setUpEndlessScrolling();
</script>
