<div class="row">
<ul>
	<%	@pokemons.each do |p| %>
  	<div class="col-xs-6 col-md-3">
  		<p><%= link_to p['name'], pokemon_path(p["pkdx_id"]) %> </p>
   			<% sprite = p['sprites'][0]['resource_uri'] %>
			<% image = HTTParty.get("http://pokeapi.co#{sprite}")['image'] %>
			<%= image_tag("http://pokeapi.co#{image}", :class => "thumbnail") %>

    <p>
    	<a href="#" class="btn btn-primary" role="button">Acheter</a> 
    	<a href="#" class="btn btn-default" role="button">Vendre</a>
    </p>
  </div>
  <% end %>
</ul>
</div>
