<% @pokemons.each do |pokemon| %>
  $('.pokemon-list').append('<div id="pokemon-<%= pokemon.pkdx_id %>"></div>');
  $('#pokemon-<%= pokemon.pkdx_id %>').html('<%= j render pokemon %>');
<% end %>

<% if @pokemons.try(:next_page) %>
  $('.pagination').replaceWith('<%= j will_paginate(@pokemons) %>');
<% else %>
  $('.pagination').remove();
<% end %>