<div id="top_rated" style="height: 250px;"></div>

<div id="top-rated" data-top-rated="<%= @top_rated.to_json %>"></div>


<script type="text/javascript">
	var data = $("#top-rated").data('top-rated');
	Morris.Bar({
	  element: 'top_rated',
	  data: data,
	  xkey: 'pokemon',
	  ykeys: ['rating'],
	  labels: ['Rating']
	});
</script>
