<h3>Catch <%= @pok.to_s %> here : </h3>
<div id="map-canvas" style="height: 350px; weigth:350px; margin: 10px;"></div>
<div id="map_canvas" data-map-canvas="<%= @poke_map.to_json %>"></div>

<script type="text/javascript" >

    var lat_lng = $("#map_canvas").data('map-canvas');
    var lati = lat_lng['lat']
    var longi = lat_lng['lng']

	function initialize() {
        var mapOptions = {
          center: { lat: lati, lng: longi},
          zoom: 1
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

      var marker = new google.maps.Marker({
          position: new google.maps.LatLng(lati, longi),
          map: map,
      });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<h4><%= link_to 'Stalk a new one', pokemon_path(Pokemon.all.sample(1)) %></h4>